# .gitconfig a Git configuration file

[user]
	name = W. Trevor King
	email = wking@tremily.us
	signingkey = 0xFC29BDCDF15F5BE8

[push]
	default = matching

[format]
	thread = true

[sendemail]
	from = W. Trevor King <wking@tremily.us>
	cccmd = /home/wking/bin/git-cc
	aliasesfile = /home/wking/.mutt/aliases
	aliasfiletype = mutt
